.idea
charts/example
**/infra/**/charts
*secret*.yaml

.terraform
output

*.tfstate
*.tfstate.*

*secret*.tfvars
*secret*.tfvars.json
*secrets*.env
!sealed-secrets.auto.tfvars

*.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

**/.DS_Store
**/*.tfplan

*.qcow2
*.raw

*.cert
*.key

*.pem
*.crt

processed_adblock_chunks
