apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: lldap-postgres
  namespace: lldap
spec:
  instances: 1
  affinity:
    nodeSelector:
      topology.kubernetes.io/zone: euclid
  monitoring:
    enablePodMonitor: true
  postgresql:
    parameters:
      timezone: Europe/Oslo
  bootstrap:
    initdb:
      database: lldap
      owner: lldap
  managed:
    services:
      disabledDefaultServices: [ "ro", "r" ]
#      additional:
#        - selectorType: rw
#          updateStrategy: patch
#          serviceTemplate:
#            metadata:
#              name: lldap-postgres-db
#              annotations:
#                io.cilium/lb-ipam-ips: 192.168.1.241
#            spec:
#              type: LoadBalancer
  storage:
    size: 1G
    pvcTemplate:
      storageClassName: proxmox-csi
      volumeName: pv-lldap-postgres
      accessModes:
        - ReadWriteOnce
