apiVersion: v1
kind: Service
metadata:
  name: signal
  namespace: netbird
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: signal
  ports:
    - name: http
      port: 80
      targetPort: http
