apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: external
  namespace: gateway
spec:
  gatewayClassName: cilium
  infrastructure:
    labels:
      arp.cilium.io/announce-service: default
      arp.cilium.io/ip-pool: default
      bgp.cilium.io/advertise-service: default
      bgp.cilium.io/ip-pool: default
      l2.cilium.io/ip-pool: default
    annotations:
      service.cilium.io/forwarding-mode: snat
  addresses:
    - type: IPAddress
      value: 172.20.10.110
    - type: IPAddress
      value: 192.168.1.222
  listeners:
    - protocol: HTTPS
      port: 443
      name: https-gateway
      hostname: "*.stonegarden.dev"
      tls:
        certificateRefs:
          - kind: Secret
            name: cert-stonegarden
      allowedRoutes:
        namespaces:
          from: All
    - protocol: HTTPS
      port: 443
      name: https-domain-gateway
      hostname: stonegarden.dev
      tls:
        certificateRefs:
          - kind: Secret
            name: cert-stonegarden
      allowedRoutes:
        namespaces:
          from: All
