apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - alertmanager-http-route.yaml
  - prometheus-http-route.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    includeCRDs: true
    namespace: monitoring
    version: 80.14.4
    releaseName: kube-prometheus-stack
    valuesFile: ./values.yaml
