apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - cloudflare-api-token.yaml
  - cluster-issuer.yaml
  - selfsigned-bootstrap-issuer.yaml
  - stonegarden-root-ca.yaml
  - stonegarden-ca-issuer.yaml
  - trust-bundle.yaml
  - dashboard.yaml

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.3 # renovate: github-releases=cert-manager/cert-manager
    releaseName: cert-manager
    namespace: cert-manager
    valuesFile: values.yaml

  - name: trust-manager
    repo: https://charts.jetstack.io
    version: v0.21.1 # renovate: github-releases=cert-manager/trust-manager
    releaseName: trust-manager
    namespace: cert-manager
    valuesFile: trust-manager-values.yaml
