apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonAnnotations:
    argocd.argoproj.io/sync-wave: "-1"

resources:
  - namespace.yaml
#  - cm-time-slicing.yaml

#helmCharts:
#  - name: nvidia-device-plugin
#    repo: https://nvidia.github.io/k8s-device-plugin
#    version: 0.14.3
#    releaseName: "nvidia-device-plugin"
#    namespace: nvidia-device-plugin
#    includeCRDs: true
#    valuesFile: values.yaml
