apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: proxmox-csi-plugin
    repo: oci://ghcr.io/sergelogvinov/charts
    version: 0.2.9
    releaseName: proxmox-csi-plugin
    includeCRDs: true
    namespace: csi-proxmox
    valuesFile: values.yaml
