machine:
  kubelet:
    ${indent(4, kubelet)}

cluster:
  allowSchedulingOnControlPlanes: true
  apiServer:
    ${indent(4, api_server)}
  network:
    cni:
      name: none
  proxy:
    disabled: true
  discovery:
    enabled: true
    registries:
      service:
        disabled: false
  extraManifests: ${extra_manifests}
  inlineManifests: ${inline_manifests}
