apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: jellyfin-env
    namespace: jellyfin
    literals:
      - TZ="Europe/Oslo"
      - JELLYFIN_PublishedServerUrl="https://jellyfin.stonegarden.dev"

resources:
  - ns.yaml
  - svc.yaml
  - pvc.yaml
  - http-route.yaml
  - deployment.yaml
