apiVersion: v1
kind: Service
metadata:
  name: torrent-torrent
  namespace: torrent
  annotations:
    io.cilium/lb-ipam-ips: 172.20.10.250
  labels:
    bgp.cilium.io/advertise-service: default
    bgp.cilium.io/ip-pool: default
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app: torrent
  ports:
    - name: torrent-tcp
      port: 10011
      targetPort: torrent-tcp
      protocol: TCP
    - name: torrent-udp
      port: 10011
      targetPort: torrent-udp
      protocol: UDP
