apiVersion: v1
kind: Service
metadata:
  name: management
  namespace: netbird
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: management
  ports:
  - name: http
    port: 80
    targetPort: http
