# Need an extra Argo CD Application here to do server side apply
# https://github.com/prometheus-community/helm-charts/issues/3345
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: monitoring
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 61.3.2 # renovate: docker=ghcr.io/prometheus-community/charts/kube-prometheus-stack
      helm:
        valueFiles:
          - $values/k8s/infra/monitoring/prometheus-stack/values.yaml
    - repoURL: https://github.com/vehagn/homelab
      targetRevision: HEAD
      ref: values
  destination:
    name: in-cluster
    namespace: monitoring
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
