apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - kube-prometheus-stack.yaml
  - alertmanager-http-route.yaml
  - grafana-http-route.yaml
  - prometheus-http-route.yaml
