apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authelia

configMapGenerator:
  - name: consent
    namespace: authelia
    files: [ ./locales/en/consent.json ]

resources:
  - ns.yaml
  - crypto.yaml
  - lldap-credentials.yaml
  - smtp-credentials.yaml
  - valkey-credentials.yaml
  - cert-rsa-jwk.yaml
  - cert-ecdsa-jwk.yaml
  - cert-valkey.yaml
  - http-route.yaml
  - cnpg-db.yaml
  - clients/argocd.yaml
  - clients/audiobookshelf.yaml
  - clients/grafana.yaml
  - clients/netbird.yaml
  - dashboard.yaml

helmCharts:
  - name: authelia
    repo: https://charts.authelia.com
    releaseName: authelia
    namespace: authelia
    version: 0.10.49
    valuesFile: values.yaml

  - name: valkey
    repo: https://valkey.io/valkey-helm/
    releaseName: valkey
    namespace: authelia
    version: 0.9.3
    valuesFile: valkey-values.yaml
