apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authelia

resources:
  - ns.yaml
  - crypto.yaml
  - lldap-credentials.yaml
  - cert-rsa-jwk.yaml
  - cert-ecdsa-jwk.yaml
  - oidc-argocd.yaml
  - http-route.yaml
  - cnpg-db.yaml

helmCharts:
  - name: authelia
    repo: https://charts.authelia.com
    releaseName: authelia
    namespace: authelia
    version: 0.9.14
    valuesFile: values.yaml
