apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authelia

resources:
  - ns.yaml
  - crypto.yaml
  - lldap-credentials.yaml
  - smtp-credentials.yaml
  - cert-rsa-jwk.yaml
  - cert-ecdsa-jwk.yaml
  - http-route.yaml
  - cnpg-db.yaml
  - clients/argocd.yaml
  - clients/audiobookshelf.yaml
  - clients/netbird.yaml

helmCharts:
  - name: authelia
    repo: https://charts.authelia.com
    releaseName: authelia
    namespace: authelia
    version: 0.10.5
    valuesFile: values.yaml

patches:
  - path: patches/deployment-host-aliases.yaml
