deployment:
  initContainers:
    # The "volume-permissions" init container is required if you run into permission issues.
    # Related issue: https://github.com/traefik/traefik/issues/6972
    - name: volume-permissions
      image: busybox:1.31.1
      command: [ "sh", "-c", "chmod -Rv 600 /data/*" ]
      volumeMounts:
        - name: data
          mountPath: /data

providers:
  kubernetesCRD:
    allowCrossNamespace: true

additionalArguments:
  - "--log.level=DEBUG"
  - "--api.insecure"

persistence:
  enabled: true
  name: data
  accessMode: ReadWriteOnce
  size: 128Mi
  storageClass: cert-storage
  path: /data

certResolvers:
  letsencrypt:
    email: veghag@gmail.com
    tlsChallenge: true
    storage: /data/acme.json
    # Remove staging server when it's working
    #caServer: https://acme-staging-v02.api.letsencrypt.org/directory