apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - ingress.yaml

# Let Traefik manage TLS-termination
patchesStrategicMerge:
  - config/argocd-cmd-params-cm-patch.yaml

