apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - ingress-route.yaml
  - auth

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 6.0.6
    releaseName: "argocd"
    namespace: argocd
    valuesFile: values.yaml