name: Build devcontainer

on:
  push:
    branches: [ main ]
    paths: [ '.github/.devcontainer/**' ]
  schedule:
    - cron: '4 20 28 * *'

jobs:
  build:
    name: Build devcontainer
    runs-on: ubuntu-latest
    timeout-minutes: 120
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up QEMU for multi-architecture builds
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker buildx for multi-architecture builds
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build dev container image
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 #v0.3.1900000417
        with:
          subFolder: ./.github
          platform: linux/amd64,linux/arm64
          imageName: ghcr.io/vehagn/homelab-devcontainer
          cacheFrom: ghcr.io/vehagn/homelab-devcontainer
          push: always
