name: Tofu format

on:
  workflow_dispatch: { }
  push:
    branches: [ '**', '!renovate/**' ]
    paths:
      - '**.tf'
      - '**.tofu'
      - '**.tfvars'
      - '**.tftpl'
  pull_request:
    types: [ opened, synchronize ]
    branches: [ '**' ]
    paths:
      - '**.tf'
      - '**.tofu'
      - '**.tfvars'
      - '**.tftpl'

jobs:
  tofu-format:
    name: run tofu format
    runs-on: ubuntu-latest
    container: ghcr.io/vehagn/homelab-devcontainer
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Tofu format
        run: tofu fmt -recursive -diff -check
